<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">T</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a
            *ngIf="isUserLoggedIn"
            class="nav-link"
            routerLink="/welcome/in28minutes"
            >Home <span class="sr-only"></span
          ></a>
        </li>
        <li class="nav-item">
          <a *ngIf="isUserLoggedIn" class="nav-link" routerLink="/todos"
            >Todos</a
          >
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end">
        <a *ngIf="!isUserLoggedIn" class="nav-link" href="/login">Login </a>
        <a *ngIf="isUserLoggedIn" class="nav-link" href="/logout">Logout </a>
      </ul>
    </div>
  </nav>
</header>
